{% extends "base.html" %}

{% block content %}

<div class="form_block">
    <h1>Edit Gym Class</h1>
<form action="/gym_classes/{{gym_class.id}}" method="post">

    <label for="class_name">Class Name:</label><br>
    <input type="text" id="class_name" name="class_name" placeholder="Class Name" required autofocus>
    <br><br>

    <label for="description">Description:</label><br>
    <textarea type="text" id="description" name="description" placeholder="Enter a Description" required autofocus rows="4" cols="50"></textarea>
    <br>

  <button class="action_button" type="submit">Confirm Changes</button>

</form>
</div>

{% endblock %}