{% extends 'base.html' %}

{% block content %}

<div class="individual_block">
<h1>{{gym_class.class_name}}</h1>

<p>{{ gym_class.description }}</p>

<h3>Currently Enrolled Members:</h3>

<ul>{% if members|length < 1 %}
        <p>No members currently enrolled - <a href="/bookings/new">Enrol Member</a>?</p>

    {% else %}
        {% for member in members %}
        <li>{{member.first_name}} {{member.last_name}}</li>
        {% endfor %}
    {% endif %}
</ul>

<div class="edit_delete_buttons">
<form action="/gym_classes/{{gym_class.id}}/edit" method="GET">
    <input class="action_button" type="submit" value="Edit Class" />
  </form>

<form action="/gym_classes/{{gym_class.id}}/delete" method="POST">
    <input class="action_button" type="submit" value="Delete Class" />
  </form>
</div>
</div>
{% endblock %}