{% extends 'base.html' %}

{% block content %}
<div class="bookings_block">
<h1 class = "content_head">Bookings</h1>

{% for booking in bookings %}

   <p>{{ booking.member.first_name }} {{ booking.member.last_name }} - {{ booking.gym_class.class_name }}</p>

<form action="/bookings/{{ booking.id }}/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete Booking?');">
    <input class="content_button" type="submit" value="Delete Booking"/>
  </form>

{% endfor %}

<form action="/bookings/new" method="GET">
    <input class="action_button" type="submit" value="Create Booking"/>
  </form>
</div>

{% endblock %}